body {
  font-family: var(--font-roboto), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
  background-image:
    linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
