.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidebar {
  width: 150px;
  padding: 16px;
  display: flex;
  flex-direction: column;

  /* color: rgb(95, 42, 5); */
  /* font-family: 'Norican', cursive; */
  background-color: #ebeaea;
  /* background-color: rgba(95, 43, 5, 0.33); */
  border-right: 1px solid #414141;

  /* backdrop-filter: blur(2px); */
  height: 105vh;
  /* box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2); */
}

.notesWrapper {
  width: 100%;
  flex-grow: 1;
}
